body {
	margin: 0px;
	padding: 0px;
}

header {
	margin: auto;
	padding: 20px 10px 20px 20%;
	width: auto;
	font-size: 30px;
	border-bottom-width: 3px;
	border-bottom-color: #193770;
	border-bottom-style: solid;
}

content {
	margin: auto;
	padding: 10px 10px 10px 10px;
	color: #102347;
	width: 60%;
	min-width: 350px;
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.app_header {
	color: #FFF;
	background-color: #193770;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
}

.app_header:visited {
	color: white;
}

input {
	margin-bottom: 10px;
}

select {
	margin-bottom: 10px;
	margin-right: 30px;
}

textarea {
	margin-bottom: 20px;
}

fieldset {
	border: none;
}

table {
	width: 100%;
}

.campaign_info {
	margin-bottom: 40px;
}

h1 {
	font-weight: normal;
	font-size: 30px;
	color: #102347;
}

a {
	color: #121212;
}

a:visited {
	color: #737272;
}

legend {
	margin-bottom: 10px;
	padding: 5px 0px 5px 5px;
	width: 100%;
	color: #FFF;
	background-color: #193770;
	border-radius: 5px;
}

.superscript_link {
	font-size: xx-small;
	vertical-align: top;
	text-decoration: none;
}

.superscript_link:visited {
	color: #121212;
}

#flash_success {
	margin: 15px auto 15px auto;
	padding: 10px 10px 10px 10px;
	width: 50%;
	color: white;
	background-color: #246100;
	border-radius: 10px;
}

#flash_error {
	margin: 15px auto 15px auto;
	padding: 10px 10px 10px 10px;
	width: 50%;
	color: white;
	background-color: #BA0000;
	border-radius: 10px;
}

#campaign_list td {
	border: 1px solid;
	background-color: white;
}

#campaign_list {
	color: #193770;
	background-color: #193770;
	width: 100%;
	border-radius: 5px;
}

#campaign_list_header {
	color: #FFF;
	background-color: #193770;
}

#campaign_sort {
	margin-top: 40px;
	float: right;
}

#campaign_sort a {
	padding: 2px 2px 2px 2px;
	color: white;
	background-color: #193770;
	text-decoration: none;
	border-radius: 4px;
}

#campaign_planning {
	margin-bottom: 15px;
}

.inline_buttons {
	width: 10%;
}
