<h1>Campaign details</h1>

<legend>Information:</legend>
	<p><b>Campaign name:</b> <%= @campaign.name %></p>
	<p><b>Campaign description:</b> <%= @campaign.description %></p>
	<p><b>Active:</b> <%= @campaign.active %></p>
	<p><b>Campaign type:</b> <%= @campaign.ctype %></p>
