<% @title = "Clone campaign" %>

<h1>Clone campaign</h1>
<p>Modify information to clone this campaign.</p>

<%= render 'campaign_fields' %>

<!--Closing campaign_fields table to put all buttons inline-->
		<td><%= button_to "Cancel", root_path %></td>
	</tr>
</table>
